McAfee_Code_Issuance_Process_Flow.json
{
    "name": "Integration Monday (copy)",
    "flow": [
        {
            "id": 15,
            "module": "monday:WatchBoardItems",
            "version": 1,
            "parameters": {
                "limit": 100,
                "boardId": "7059668827",
                "watchType": "updated",
                "__IMTCONN__": 3164213,
                "showParentID": false,
                "showSubitemsID": false,
                "filterToGetColumnValues": [
                    "name",
                    "license_key__1",
                    "assigned_one__1",
                    "email__1",
                    "status"
                ]
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "boardId": {
                            "mode": "chose",
                            "label": "Distributed McAfee codes for group deals  ::  private"
                        },
                        "watchType": {
                            "label": "New and Updated Items"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Automated Email Generation"
                        },
                        "filterToGetColumnValues": {
                            "items": [
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "Name"
                                    }
                                },
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "License Key"
                                    }
                                },
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "Assigned One"
                                    }
                                },
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "Email"
                                    }
                                },
                                {
                                    "value": {
                                        "mode": "chose",
                                        "label": "Status"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "watchType",
                        "type": "select",
                        "label": "Watch",
                        "validate": {
                            "enum": [
                                "created",
                                "updated"
                            ]
                        }
                    },
                    {
                        "name": "showParentID",
                        "type": "boolean",
                        "label": "Show Parent ID",
                        "required": true
                    },
                    {
                        "name": "showSubitemsID",
                        "type": "boolean",
                        "label": "Show Subitems ID",
                        "required": true
                    },
                    {
                        "name": "filterToGetColumnValues",
                        "spec": {
                            "name": "value",
                            "type": "select",
                            "label": "Column ID",
                            "dynamic": true,
                            "options": [],
                            "required": true
                        },
                        "type": "array",
                        "label": "Output Column Values"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "license_key__1",
                                "type": "text",
                                "label": "License Key"
                            },
                            {
                                "name": "assigned_one__1",
                                "type": "text",
                                "label": "Assigned One"
                            },
                            {
                                "name": "policy__1",
                                "type": "text",
                                "label": "Policy"
                            },
                            {
                                "name": "email__1",
                                "spec": [
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email"
                            },
                            {
                                "name": "subitems__1",
                                "spec": [
                                    {
                                        "name": "linkedPulseIds",
                                        "spec": [
                                            {
                                                "name": "linkedPulseId",
                                                "type": "text",
                                                "label": "Subitem ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Subitem IDs"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Subitems"
                            },
                            {
                                "name": "status",
                                "spec": [
                                    {
                                        "name": "index",
                                        "type": "text",
                                        "label": "Index"
                                    },
                                    {
                                        "name": "post_id",
                                        "type": "text",
                                        "label": "Post ID"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Status"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3164213
            },
            "filter": {
                "name": "Filter Reviewed codes ",
                "conditions": [
                    [
                        {
                            "a": "{{15.mappable_column_values.status.text}}",
                            "b": "Reviewed",
                            "o": "text:contain"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{15.id}}",
                "boardId": "7059668827",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 330,
                    "y": -214
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Distributed McAfee codes for group deals  ::  private"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Automated Email Generation"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "license_key__1",
                                "type": "text",
                                "label": "License Key"
                            },
                            {
                                "name": "assigned_one__1",
                                "type": "text",
                                "label": "Assigned One"
                            },
                            {
                                "name": "policy__1",
                                "type": "text",
                                "label": "Policy"
                            },
                            {
                                "name": "email__1",
                                "spec": [
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email"
                            },
                            {
                                "name": "subitems__1",
                                "spec": [
                                    {
                                        "name": "linkedPulseIds",
                                        "spec": [
                                            {
                                                "name": "linkedPulseId",
                                                "type": "text",
                                                "label": "Subitem ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Subitem IDs"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Subitems"
                            },
                            {
                                "name": "status",
                                "spec": [
                                    {
                                        "name": "index",
                                        "type": "text",
                                        "label": "Index"
                                    },
                                    {
                                        "name": "post_id",
                                        "type": "text",
                                        "label": "Post ID"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Status"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Code",
                        "value": "{{19.name}}"
                    },
                    {
                        "name": "License Key",
                        "value": "{{19.mappable_column_values.license_key__1}}"
                    },
                    {
                        "name": "Send to Email ID",
                        "value": "{{19.mappable_column_values.email__1.email}}"
                    },
                    {
                        "name": "Group Name",
                        "value": "{{19.mappable_column_values.assigned_one__1}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 553,
                    "y": 121
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Code",
                        "type": "any",
                        "label": "Code"
                    },
                    {
                        "name": "License Key",
                        "type": "any",
                        "label": "License Key"
                    },
                    {
                        "name": "Send to Email ID",
                        "type": "any",
                        "label": "Send to Email ID"
                    },
                    {
                        "name": "Group Name",
                        "type": "any",
                        "label": "Group Name"
                    }
                ]
            }
        },
        {
            "id": 43,
            "module": "microsoft-excel:updateAWorksheetRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3172495
            },
            "mapper": {
                "id": 2,
                "row": {
                    "0": "{{23.Code}}",
                    "1": "{{23.`License Key`}}",
                    "2": "{{23.`Group Name`}}",
                    "3": "{{23.`Send to Email ID`}}"
                },
                "select": "list",
                "selectB": "my",
                "workbook": "/McAfee.codes.group.deals.xlsx",
                "valueType": "values",
                "worksheet": "Sheet1"
            },
            "metadata": {
                "designer": {
                    "x": 862,
                    "y": -255
                },
                "restore": {
                    "expect": {
                        "id": {
                            "mode": "chose",
                            "label": "2"
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "selectB": {
                            "label": "My Drive"
                        },
                        "workbook": {
                            "path": [
                                "McAfee.codes.group.deals.xlsx"
                            ]
                        },
                        "valueType": {
                            "mode": "chose",
                            "label": "Values"
                        },
                        "worksheet": {
                            "mode": "chose",
                            "label": "Sheet1"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "Excel file for McAfee codes  (Saurav Dewalwar, Insured Nomads)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select a method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "selectB",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "workbook",
                        "type": "file",
                        "label": "Workbook",
                        "required": true
                    },
                    {
                        "name": "worksheet",
                        "type": "select",
                        "label": "Worksheet",
                        "required": true
                    },
                    {
                        "name": "valueType",
                        "type": "select",
                        "label": "Type of Values Being Entered",
                        "required": true,
                        "validate": {
                            "enum": [
                                "formulas",
                                "formulasLocal",
                                "values"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "type": "select",
                        "label": "Row ID",
                        "required": true
                    },
                    {
                        "name": "row",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "(A): Code"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "(undefined): License Key"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "(undefined): Group name"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(undefined): Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Row"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Row ID"
                    },
                    {
                        "name": "row",
                        "spec": [
                            {
                                "name": "ae",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AE): Code"
                            },
                            {
                                "name": "af",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AF): License Key"
                            },
                            {
                                "name": "ag",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AG): Group name"
                            },
                            {
                                "name": "ah",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AH): Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Row"
                    }
                ]
            }
        },
        {
            "id": 47,
            "module": "microsoft-sharepoint:downloadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3172495
            },
            "mapper": {
                "file": "01QALNYLLA6XPY4OMFSNAIZCHZDTMTYZWT",
                "site": "insurednomadscorporation.sharepoint.com,9971e6c1-2a8d-42a2-b908-73b8b0bf1f62,f62a0a8a-36a6-489a-946f-5f836e9e64ec",
                "drive": "b!weZxmY0qokK5CHO4sL8fYooKKvamNppIlG9fg26eZOw4fGk8rAfkRp3mxuoWpW2j",
                "enter": "id",
                "choose": "list",
                "format": false
            },
            "metadata": {
                "designer": {
                    "x": 1225,
                    "y": 32
                },
                "restore": {
                    "expect": {
                        "file": {
                            "path": [
                                "McAfee.codes.group.deals.xlsx"
                            ]
                        },
                        "site": {
                            "label": "Insured Nomads Corporation"
                        },
                        "drive": {
                            "label": "Documents (documentLibrary)"
                        },
                        "enter": {
                            "label": "File ID"
                        },
                        "choose": {
                            "label": "Select from the list"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "Excel file for McAfee codes  (Saurav Dewalwar, Insured Nomads)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (File ID & File Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "boolean",
                        "label": "Convert to PDF",
                        "required": true
                    },
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "site",
                        "type": "select",
                        "label": "Site ID",
                        "required": true
                    },
                    {
                        "name": "drive",
                        "type": "select",
                        "label": "Drive ID",
                        "required": true
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "File",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 48,
            "module": "microsoft-excel:listWorksheetRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3172495
            },
            "mapper": {
                "limit": "10",
                "select": "legacy",
                "selectB": "my",
                "emptyRow": true,
                "workbook": "/McAfee.codes.group.deals.xlsx",
                "worksheet": "Sheet1"
            },
            "metadata": {
                "designer": {
                    "x": 1514,
                    "y": -270
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "selectB": {
                            "label": "My Drive"
                        },
                        "workbook": {
                            "path": [
                                "McAfee.codes.group.deals.xlsx"
                            ]
                        },
                        "worksheet": {
                            "mode": "chose",
                            "label": "Sheet1"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "Excel file for McAfee codes  (Saurav Dewalwar, Insured Nomads)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select a method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manually",
                                "legacy"
                            ]
                        }
                    },
                    {
                        "name": "emptyRow",
                        "type": "boolean",
                        "label": "Skip All Rows After a Blank Row",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "selectB",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "workbook",
                        "type": "file",
                        "label": "Workbook",
                        "required": true
                    },
                    {
                        "name": "worksheet",
                        "type": "select",
                        "label": "Worksheet",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Row ID"
                    },
                    {
                        "name": "row",
                        "spec": [
                            {
                                "name": "ae",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AE): Code"
                            },
                            {
                                "name": "af",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AF): License Key"
                            },
                            {
                                "name": "ag",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AG): Group name"
                            },
                            {
                                "name": "ah",
                                "spec": [
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "formulaLocal",
                                        "type": "text",
                                        "label": "Formula Local"
                                    },
                                    {
                                        "name": "numberFormat",
                                        "type": "text",
                                        "label": "Number Format"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueType",
                                        "type": "text",
                                        "label": "Value Type"
                                    }
                                ],
                                "type": "collection",
                                "label": "(AH): Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Row"
                    }
                ]
            }
        },
        {
            "id": 49,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 48
            },
            "mapper": {
                "Send to Email ID": "{{23.`Send to Email ID`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1814,
                    "y": -25
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Microsoft 365 Excel - List Worksheet Rows [48]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 50,
            "module": "microsoft-email:createAndSendAMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3172495
            },
            "mapper": {
                "from": [
                    {
                        "name": "Sam test",
                        "address": "saurav@insurednomads.com"
                    }
                ],
                "content": "Testing ",
                "subject": "Testing",
                "importance": "Normal",
                "attachments": [
                    {
                        "data": "{{47.data}}",
                        "filename": "{{47.filename}}"
                    }
                ],
                "contentType": "html",
                "toRecipients": [
                    {
                        "name": "{{23.`Group Name`}}",
                        "address": "{{49.`__IMTAGGLENGTH__`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2182,
                    "y": -246
                },
                "restore": {
                    "expect": {
                        "from": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "replyTo": {
                            "mode": "chose"
                        },
                        "importance": {
                            "mode": "chose",
                            "label": "Normal"
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "mode": "chose",
                            "label": "HTML"
                        },
                        "ccRecipients": {
                            "mode": "chose"
                        },
                        "toRecipients": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bccRecipients": {
                            "mode": "chose"
                        },
                        "internetMessageHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "Excel file for McAfee codes  (Saurav Dewalwar, Insured Nomads)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Body Content",
                        "required": true
                    },
                    {
                        "name": "importance",
                        "type": "select",
                        "label": "Importance",
                        "validate": {
                            "enum": [
                                "Low",
                                "Normal",
                                "High"
                            ]
                        }
                    },
                    {
                        "name": "toRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "To Recipients",
                        "required": true
                    },
                    {
                        "name": "from",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "From",
                        "validate": {
                            "maxItems": 1
                        }
                    },
                    {
                        "name": "ccRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC Recipients"
                    },
                    {
                        "name": "bccRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Bcc Recipients"
                    },
                    {
                        "name": "replyTo",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Reply To"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "internetMessageHeaders",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Internet Message Headers"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}